*{
  font-family: sans-serif;
}
body{
  background: #303030;
}
nav{
  position: relative;
  max-width: 1000px;
  margin: auto;
}
nav a{
  position: absolute;
  right:0;
  top:50%;
  height:100%;
  color: white;
  text-decoration: none;
}
#between{
  color:white;
  font-size: 1rem;
}
.catagory{
  color:white;
  border:none;
  background-color:rgba(0, 0, 0, 0);
}
.catagory:focus,option{
  outline: none !important;
}
option{
  background-color:#303030;
  border:none;
}
#tmpImg{
  height:8rem;
  margin:auto;
  grid-column-start:1;
  grid-column-end:5;
}
#library{
  max-width:1200px;
  margin:auto;
  height:100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
}
.videoCon{
  margin:5% auto;
  height:20rem;
  /* padding:0 0.5rem; */
  /* background: rgba(255, 255, 255, 0.2); */
}
.videoCon p{
  word-wrap: break-word;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.705);
  position: relative;
  bottom:50px;
  height:46px;
  line-height: 45px;
  max-width: 100%;
  margin:auto;
}
.videoLink{
  height:100%;
}
img{
  height:100%;
}
h1{
  color:rgba(255, 255, 255, 0.2);
  cursor: pointer;
  display: inline;
  font-size: 5rem;
  margin-right: 2rem;
}
.select{
  color:rgb(255, 255, 255);
}
