*{
  font-family: sans-serif;
  scrollbar-width: thin;
  transition: .5s;
}
body{
  background: #141414;
  overflow-x: hidden;
}
h1{
  color:rgba(255, 255, 255, 0.2);
  cursor: pointer;
  display: inline;
  font-size: 5rem;
  margin-right: 2rem;
  margin-left:5px;
}
.select{
  color:rgb(255, 255, 255);
}
nav{
  position:sticky;
  top:0;
  z-index: 10000;
  background-color: #141414e1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin: auto;
}
nav a{
  position: absolute;
  right:0;
  top:50%;
  height:100%;
  color: white;
  text-decoration: none;
}
#search{
  position:absolute;
  right:125px;
  top:40%;
  background:transparent;
  border:none;
  
  color:white;
  width:3.5rem;
  transition: .5s;
}
#search:focus{
  width:10rem;
  outline:none;
  border-bottom: 1px solid #F5F5F5;
  border-top: none;
  border-left: none;
  border-right: none;
}
#ord{
  position:absolute;
  right:10px;
  top:40%;
  transition: .5s;
}
.hide{
  display:none;
}
#between{
  color:white;
  font-size: 1rem;
}
.category{
  position: absolute;
  color:white;
  border:none;
  background-color:rgba(0, 0, 0, 0);
}
#folders{
  position: absolute;
  top:40%;
  right:50%;
}
#cat{
  left:0;
}
#cat2{
  left:200px;
}
#between{
  position:absolute;
  top:40%;
  left:175px;
}
.category:focus,option{
  outline: none !important;
}
option{
  background-color:#303030;
  border:none;
}
#tmpImg{
  height:8rem;
  margin:auto;
  grid-column-start:1;
  grid-column-end:6;
}
#videoCont{
  margin:auto;
}
#videoCont video{
  /* width:60%; */
  position: relative;
  /* height: 10%; */
  left:50%;
  transform: translate(-50%);
}
video{
  width:80%;
  height:auto;
}
#videoCont video:focus{
  outline:none;
}
#library{
  width:100%;
  margin:auto;
  height:100%;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  text-align: center;
}
.videoCon, .info{
  position:relative;
  margin:5% auto;
  height:20rem;
  /* padding:0 0.5rem; */
  /* background: rgba(255, 255, 255, 0.2); */
}
.title{
  cursor: pointer;
  word-wrap: break-word;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.705);
  position: absolute;
  top:-50px;
  height:300%;
  line-height: 1.5rem;
  width: 100%;
  z-index:1;
}

.score,.qual{
  cursor:pointer;
  position: absolute;
  bottom:0;
  color:white;
  z-index: 1;
  text-shadow: -1px -1px 5px #141414, 1px -1px 5px #141414, -1px 1px 5px #141414, 1px 1px 5px #141414;
}
.score{
  left:5%;
}
.qual{
  right:5%;
}
.videoLink{
  position:relative;
  height:100%;
  width:100%;
}
img{
  cursor: pointer;
  height:100%;
}

.info{
  max-width:100rem;
  color:white;
  text-shadow: -1px -1px 5px #141414, 1px -1px 5px #141414, -1px 1px 5px #141414, 1px 1px 5px #141414;
  margin:auto;
  position: absolute;
  z-index: 1;
  width:100%;
  background-color: #141414b9;
}
.info p, .info h2{
  float:left;
  text-align: center;
  padding:0 .25rem;
}
.info h2{
  margin:10% auto auto auto;
  width:100%;
  height:20%;
  overflow:auto;
}
.info p{
  overflow-y: auto;
  height: 52.5%;
  margin:auto;

}
::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: #373737;
  border-radius: 5px;
} 
::-webkit-scrollbar-track {
  background-color: #141414;
  /* border-radius:5px; */
}
.info img{
  max-height: 100%;
  position: absolute;
  bottom:0;
  left:50%;
}
.play{
  position:absolute;
  bottom:0;
  left:50%;
  transform: translate(-50%);
  max-width:3rem;
  height:auto;
}
@media screen and (max-width:1700px){
  #library{
    grid-template-columns: repeat(7,1fr);
  }
}
@media screen and (max-width:1500px){
  #library{
    grid-template-columns: repeat(6,1fr);
  }
}
@media screen and (max-width:1300px){
  #library{
    grid-template-columns: repeat(5,1fr);
  }
}
@media screen and (max-width:1150px){
  #library{
    grid-template-columns: repeat(4,1fr);
  }
}
@media screen and (max-width:950px){
  #library{
    grid-template-columns: repeat(5,1fr);
  }
  .videoCon, .info{
    height: 15rem;
  }
}
@media screen and (max-width:800px){
  #library{
    grid-template-columns: repeat(4,1fr);
  }
}
@media screen and (max-width:660px){
  #library{
    grid-template-columns: repeat(3,1fr);
  }
  #ord{
    right:-100px;
    /* display:none; */
  }
  #search{
    right:5px;
    width:5rem;
  }
  #folders{
    top:100%;
    left:0;
  }
}
@media screen and (max-width:450px){
  #library{
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (min-height:1000px) and (max-width:1000px){
  h1{
    font-size: 10rem;
  }
  h2{
    font-size:3rem;
  }
  p{
    font-size:2rem; 
  }
  select, #between{
    font-size: 2rem;
  }
  .play{
    max-width:6rem;
  }
  #library{
    grid-template-columns: repeat(3,1fr);
  }
  .videoCon, .info{
    height: 29rem;
  }
  #ord{
    display:none;
  }
  #search{
    height:4rem;
    right:0;
    top:45%;
    width:12rem;
    font-size: 3rem;
  }
  #search:focus{
    width:17rem;
    outline:none;
  }
}
