#customControls{
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.9) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0) 85%,rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient();
    position: absolute;
    top:0;
    height:100%;
    width:100%;
    margin:auto;
    z-index: 1000;
    font-size: 2rem;
    color: white;
    opacity: 0;
}
.show{
    opacity:1 !important;
}
#customControls > p, #customControls > input{
    cursor: pointer;
    width:fit-content;
    position: absolute;
    bottom:1rem;
}
#playingTitle{
    top:1rem;
    left:1rem;
    width:100%;
    height:fit-content;
    cursor:default !important;
}
#playpause{
    left:1%;
}
#nextVid{
    left:7%;
}
#time{
    left:15%;
    width:75% !important;
    height:2.3rem;
}
#timeRemaining{
    top:1rem;
    right:1rem;
}
#fullScreen{
    right:1%;
    bottom:0;
}